.gitignore export-ignore
.github/ export-ignore
.gitattributes export-ignore
run_gui.bat export-ignore
PUSH.bat export-ignore
.hypothesis/ export-ignore
contextor.egg-info/ export-ignore
output/ export-ignore
stderr.txt export-ignore
stdout.txt export-ignore
.pytest_cache export-ignore
.git export-ignore